---
Language:        Cpp
Standard:        Cpp11
IndentWidth:     4
TabWidth:        4
UseTab:          Never
ColumnLimit:     120

BreakBeforeBraces: Allman      
BraceWrapping:
  AfterClass:             false
  AfterControlStatement:  false
  AfterEnum:              false
  AfterFunction:          false
  AfterNamespace:         false
  AfterStruct:            false
  BeforeCatch:            false
  BeforeElse:             false
  IndentBraces:           false

AlignTrailingComments: false    
SpacesBeforeTrailingComments: 1

ConstructorInitializerIndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true

BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false

SpacesInParentheses: false
SpacesInAngles: false
SpaceInEmptyParentheses: false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
ContinuationIndentWidth: 4

IndentCaseLabels: true
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PointerBindsToType: true
Cpp11BracedListStyle: false
CommentPragmas: '^ IWYU pragma:'
PenaltyBreakComment: 300
PenaltyBreakString: 1000
PenaltyBreakFirstLessLess: 120
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 200
...
